// {{classname}} {{{description}}}{{^description}}struct for {{{classname}}}{{/description}}
type {{classname}} struct {
{{#parentModel.name}}
    {{^isArray}}
        {{{parentModel.classname}}}
    {{/isArray}}
    {{#isArray}}
        Items {{{parentModel.classname}}}
    {{/isArray}}
{{/parentModel.name}}
{{#vars}}
    {{^-first}}
    {{/-first}}
    {{#description}}
        // {{{.}}}
    {{/description}}
    {{#deprecated}}
        // Deprecated
    {{/deprecated}}
    {{name}} {{#isNullable}}*{{/isNullable}}{{^required}}{{^isNullable}}{{^isArray}}{{^isFreeFormObject}}*{{/isFreeFormObject}}{{/isArray}}{{/isNullable}}{{/required}}{{{dataType}}} `yaml:"{{#isWriteOnly}}-{{/isWriteOnly}}{{^isWriteOnly}}{{baseName}}{{^required}}{{^isNullable}},omitempty{{/isNullable}}{{/required}}{{/isWriteOnly}}" json:"{{#isWriteOnly}}-{{/isWriteOnly}}{{^isWriteOnly}}{{baseName}}{{^required}}{{^isNullable}},omitempty{{/isNullable}}{{/required}}{{/isWriteOnly}}"{{#withXml}} xml:"{{baseName}}{{#isXmlAttribute}},attr{{/isXmlAttribute}}"{{/withXml}}{{#vendorExtensions.x-go-custom-tag}} {{{.}}}{{/vendorExtensions.x-go-custom-tag}}`
{{/vars}}
{{#isAdditionalPropertiesTrue}}
    AdditionalProperties map[string]interface{}
{{/isAdditionalPropertiesTrue}}
}